<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fill in your Cv
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-background">
  
  <!--html layout for entering in the data--> 
  <div class="ion-text-center">
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input type="text" placeholder="Enter your first name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input type="text" placeholder="Enter your last name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Previous Job</ion-label>
      <ion-input type="text" placeholder="Enter your previous job"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Years of Experience</ion-label>
      <ion-input type="number" placeholder="Enter years of experience"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Full or Part-time Work</ion-label>
      <ion-select placeholder="Select work type">
        <ion-select-option value="full-time">Full-time</ion-select-option>
        <ion-select-option value="part-time">Part-time</ion-select-option>
      </ion-select>
    </ion-item>

    <!--two buttons with options to save the cv  or view it , both using click -->
    <ion-button expand="block" (click)="saveToJson()">Save CV</ion-button>
    <ion-button expand="block" (click)="viewJson()">View CV</ion-button>

  </div>

</ion-content>