.ion-text-center{

    color:black;
    
}

.custom-background {
    background-color: #f0f0f0; 
  }

  
  *{
    --ion-background-color : #293241;
    --ion-toolbar-background: #3d5a80;
    --ion-tab-bar-color: #d18725;
  }
  